html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: gray;
  display: flex;
  flex-direction: column;
}

#content {
  text-align: center;

  /* Fill the entire height of the page above the footer. */
  flex: 1;

  /* Center child items */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content h1 {
  margin: 0em auto;
  color: white;
  font-weight: bold;
  font-family: "Source Code Pro", Monaco, Consolas, "Courier New", monospace, Impact;
  font-size: 7vw;
  text-shadow:
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5),
    0 0 60px rgba(255, 255, 255, 0.5);
}

#content img.mixed {
  width: 20vh;
  max-width: 256;
  margin-top: 5vh;
}

#content input {
  min-width: 15em;
}

#content input, button {
  text-align: center;
  font-size: 2vw;
}

#footer {
  padding: 2vh 2vw;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 3vw;

  /* Size based on content */
  flex: 0 0 content;
}

#footer a {
  color: white;
  transition: all 150ms;
}

#footer a:hover {
  text-shadow:
    0px 0px 20px rgba(255, 255, 255, 0.5),
    0px 0px 40px rgba(255, 255, 255, 0.5),
    0px 0px 60px rgba(255, 255, 255, 0.5);
}

#footer #http-vs-https {
  height: 1.5em;
  vertical-align: middle;
}