<!DOCTYPE html>
<html>
<head>
  {% assign data = site.data.subdomains[page.subdomain] %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if subdomain.no-favicon %}<!-- No favicon -->{% else %}<link rel="shortcut icon" href="/icons/favicon-{{ subdomain.favicon }}.ico"/>
  <link rel="apple-touch-icon" href="/icons/icon-{{ page.favicon }}.png"/>{% endif %}
  <title>{% if data.title %}{{ data.title }}{% else %}{{ page.subdomain }}.{{ site.domain }}{% endif %}</title>
  <link rel="stylesheet" href="/style.css">
  <style>body { background: {% if data.background %}{{ data.background }}{% else %}gray{% endif %}; }</style>
</head>
<body>
{{ content }}

{% if site.data.subdomains[page.subdomain] %}
    {% if site.data.subdomains[page.subdomain].description %}
        <div id="footer">
          {{ site.data.subdomains[page.subdomain].description }}
        </div>
    {% endif %}
{% endif %}

</body>
</html>
