<!DOCTYPE html>
<html>
<head>
  {% assign data = site.data.subdomains[page.subdomain] %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicons/favicon.ico"/>
  <link rel="apple-touch-icon" href="/favicons/icon.png"/>
  <title>{% if data.title %}{{ data.title }}{% else %}{{ subdomain.subdomain }}.{{ site.domain }}{% endif %}</title>
  <link rel="stylesheet" href="/style.css">
  <style>body { background: {% if data.background %}{{ data.background }}{% else %}gray{% endif %}; }</style>
</head>
<body>
{{ content }}
</body>
</html>
